---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
<h1>About The project</h1>

<p>
    The SpaceX launches project is a simple project that uses the SpaceX API to display the upcoming launches of SpaceX.
</p> 
</Layout>
